
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-success mb-3">
            <div class="card-header"></div>
            <div class="card-body text-success">
                <h5 class="card-title">Purchased Tickets</h5>
                <h1><%= purchased %></h1>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-danger mb-3">
            <div class="card-header"></div>
            <div class="card-body text-danger">
                <h5 class="card-title">Amount Spent</h5>
                <h1><%= sum %></h1>
            </div>
            </div>
        </div>
    </div>
</div>